{% extends 'base.html.twig' %}

{% block body %}
{{ form_start(formCategory) }}
    {{ form_row(formCategory.name) }}
<button type="submit" name="btnSearch">Enregistrer</button>
{{ form_end(formCategory) }}

{% endblock %}
